<ion-view view-title="Register" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="data.confirmPassword">
            </label>
        </div>
        <div class="row">
            <button class="button button-block button-calm col" ng-click="registerNewUser()" ng-disabled="isInValied()">Register</button>
        </div>
    </ion-content>
</ion-view>